<%- include("./base/header") %>
<%- include("./base/nav") %>
 <div class=" container">
       <div class="alert bg-primary text-white text-center my-3"> 
           <h2> EDIT STUDENT </h2>
       </div>
    </div>
     <div class="container">
         <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/edit/student/<%= student._id %>" method="POST">
                     <div class="mb-3">

                        <label for="rollNo" class="form-label">RollNo: </label>
                        <input type="text" class="form-control" id="rollNo" value="<%=student.rollNo%>" name="rollNo" required>
                    </div>
                    <div class="mb-3">
                         <div class="mb-3">

                        <label for="StudentName" class="form-label"> StudentName :</label>
                        <input type="text" class="form-control" id="StudentName" value="<%=student.StudentName%>" name="StudentName" required>
                    </div>

                        <label for="fatherName" class="form-label">FatherName</label>
                        <input type="text" class="form-control" id="fatherName" value="<%=student.fatherName%>" name="fatherName" required>
                    </div>
                    </div>

                        <label for="motherName" class="form-label">MotherName</label>
                        <input type="text" class="form-control" id="motherName" value="<%=student.motherName%>" name="fatherName" required>
                    </div>
                    <div class="mb-3">
                        <label for="course" class="form-label">Course</label>
                        <input type="text" class="form-control" id="course" value="<%=student.course%>" name="course" required>
                    </div>
                     <div class="mb-3">
                        <label for="branch" class="form-label">Branch</label>
                        <input type="text" class="form-control" id="branch" value="<%=student.branch%>" name="branch" required>
                    </div>
                    <div class="mb-3">
                        <label for="yearOfAdmission" class="form-label">Year Of Admission</label>
                        <input type="text" class="form-control" id="yearOfAdmission" value="<%=student.yearOfAdmission%>" name="yearOfAdmission" required>
                    </div>
                    <button type="submit" class="btn btn-warning w-100">Update Student</button>                    
                </form>

            </div>

         </div>

    </div>
<%- include('base/footer.ejs') %>
