<%- include("./base/header") %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyWebsite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home👍</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About💀</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Content👿</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="student/add/page">add student</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 <div class="container">
    <div class="alert bg-primary text-white text-center my-3"> 
        <h2>STUDENT LIST</h2>
      </div>  
 </div>
 <div class="container">
    <table class="table text-center">
        <thread>
            <tr>
                <th>Roll No</th>
                <th>Student Name</th>
                <th>Father Name</th>
                <th>Course</th>
                <th>Branch</th>
                <th>Year Of Admission</th>
                <th>Action</th>
                
            </tr>
        </thread>
        <tbody>
            <% students.forEach(student => { %>
            <tr>
                <td><%= student.rollNo %></td>
                <td><%= student.StudentName %></td>
                <td><%= student.fatherName %></td>
                <td><%= student.course %></td>
                <td><%= student.branch %></td>
                <td><%= student.yearOfAdmission %></td>
                <td>
                    <a href="/edit/Student/page/<%= student._id %>" class="btn btn-primary">Edit</a>
                    <a href="/delete/Student/<%= student._id %>" class="btn btn-danger">Delete</a>
                </td>
                
            </tr>
            <% }); %>
        </tbody>
    </table>
 </div>

<%- include("./base/footer") %>